.grid-module-container {
  position: relative;
  width: 100%;
}
.grid-module-row {
  margin: 0 auto;
  position: relative;
  width: 1060px;
}
.offer-module-layout {
  padding-bottom: 24px;
}
.offer-module-container {
  margin-bottom: 24px;
}
.offerHeader {
  width: 100%;
  margin-bottom: 8px;
}
.offerHeaderTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.4px;
  color: #343a40;
  margin: 0;
}
.offerHeaderSticker {
  margin-top: 8px;
  border-top: 1px solid #e9ecef;
  padding: 12px 0;
  width: 100%;
}
.offerIntro {
  position: relative;
  margin-top: 24px;
}
.offer-container-photo {
  width: 700px;
}
.offer-container-photo-view {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
offer-container-photo il {
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.offer-container-photo-big {
  width: 700px;
  height: 467px;
  background-size: cover;
  margin-bottom: 5px;
  position: relative;
}
.offer-container-photo-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  transition: all 0.2s ease-out;
  border-radius: 2px;
}
.offer-container-photo-grid {
  display: -ms-grid !important;
  display: grid !important;
  width: 100%;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr) [1];
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  column-gap: 5px;
}
.offer-container-photo-grid > :first-child {
  ms-grid-row: 1;
  -ms-grid-column: 1;
}
.offer-container-photo-grid > div {
  width: 100%;
}
.offer-container-photo-small {
  width: 100%;
  height: 172.5px;
  background-size: cover;
  position: relative;
  border-radius: 2px;
}
.offer-module-side {
  width: 320px;
  margin-left: 38px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
.offerSideBar-module {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  width: 100%;
}
.offerSideBar-module-row {
  width: 100%;
  margin-bottom: 16px;
}
.offerSideBarMain {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 0 0 1px #e9ecef;
  background-color: #fff;
}
.offerSideBarMain-top {
  padding: 24px 24px 8px;
  border-bottom: 1px solid #dee2e6;
}
.offerSideBarMain-price {
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}
.offerPrice-module {
  display: inline-block;
}
.offerPrice-module-price {
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
  line-height: 1;
  letter-spacing: -0.34px;
}
b,
strong {
  font-weight: bold;
}
.offerSideBarMain-btn {
  margin-bottom: 8px;
}
.Button-module__block--2gnY_ {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
.Button-module__primary--3KITS {
  border: 1px solid #51abf3;
  background-color: #51abf3;
  color: #fff;
}
.Button-module__large--xFJf5 {
  height: 48px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
}
.Button-module__button--1H779 {
  border: 0;
  width: 100%;
  /* padding: 0; */
  position: relative;
  border-radius: 4px;
  /* background-color: rgba(0, 0, 0, 0); */
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out,
    border-bottom 0.1s ease-out;
}
.OfferSideBarMainButton-module__buttonLabel--29OR4 {
  vertical-align: middle;
}
.offerSideBar-module-row {
  margin-bottom: 0;
}
.grid-module-row offer-module-layout {
  display: flex;
}
